<h1>Vyproj – nápověda</h1>

<h3>Úvod</h3>
<p>Projekt je ve vývoji. Je tvořen na základě potřeb. Některé vlastnosti zcela chybí. Budu vděčný za nahlášené chyby i
    nápady na zlepšení a hlavně za spokojené uživatele.</p>
<p><strong>Použití je zdarma.</strong> Možná časem, nebo pokud bude někdo chtít vývoj podpořit, bych zavedl i placenou
    variantu.</p>

<h3>Základní popis</h3>
<p>Vyproj je určený k plánování projektů, které je možno členit na úkoly a pod-úkoly bez omezení množství vnoření. Úkoly
    se při plánování hodnotí časem v určitém rozmezí.</p>
<p>Cílem je mít přehled o tom jak dlouho bude projekt trvat, kolik bude odhadem stát.</p>
<p>Při vývoji se zapisuje odvedená práce ke každému úkolu a jeho dokončenost. Je tak možno sledovat v jaké fázi vývoje
    je úkol, ale i celý projekt. Ale nejen to, také jak je na tom jednotlivý vývojář, kolik si vydělá, jak se trefuje do
    odhadu.</p>
<p>Úkoly lze například značit jako objednané či vícepráce, tudíž je poznat kolik bude navýšení ceny.</p>

<h3>Uživatelé</h3>
<p>První varianta je uživatel vytvořený registrací. Pokud ale chcete jen přidat své spolupracovníky, brigádníky,
    klienty, není registrace třeba. V nastavení společnosti přidáte uživatele jaké potřebujete a pak jim jen rozešlete
    přístupové údaje. V projektu pak nastavíte uživateli patřičnou roli.</p>

<h3>Podle role jsou vidět různé údaje.</h3>
<p>Například klient vidí celkovou cenu, navýšení. Vývojář zase vidí své údaje o odměně a množství odvedené práce.</p>

<h3>Log událostí.</h3>
<p>O provedených akcích (Nový úkol, práce či vyřešení úkolu) jsou vedeny záznamy. Je pak možnost dohledat co se dělalo v
    určitém čase.</p>

<h3>Automatika při plnění úkolů.</h3>
<p>Nejdřív je úkol vytvořen jako nový, když je zadána první práce, označí se automaticky jako že se na něm pracuje, při
    další zadané práci se posunuje progress úkolu podle poslední práce. Prácí, která dovede dokončenost do 100 % je
    úkol automaticky označen jako hotový ke kontrole. Pověřená osoba jej pak může schválit.</p>

<p>Každý zmíněný stav se prezentuje barvou úkolu, tudíž je na první pohled jasné co se v projektu odehrává.</p>

<h3>Členění.</h3>
<p>Projekt je členěn na pod-úkoly, které zase mohou mít pod-úkoly a tak dále. Další členění je do sprintů, kdy je možné
    rozdělit vývoj do několika fází. U úkolu i sprintu je vidět souhrn informací jak počet úkolů tak jejich čas. U
    sprintu
    je i vidět celkový průběh a odhadnutý a odpracovaný čas.</p>


<h2>Ochrana osobních údajů</h2>
<i>
    <p>Prohlášení: Provozovatel vyproj.cz se zavazuje k tomu, že nebude svěřená osobní data poskytovat třetí osobě pro komerční nabídku bez souhlasu
        vlastníků těchto dat. Provozovatel vyproj.cz se dále zavazuje k tomu, že na přání uživatele/zákazníka i bez udání důvodu, jeho osobní
        data vymaže z databáze.</p>
    <p>Pokud dojde k převodu vlastnických práv nebo pronájmu aplikace jiné fyzické či právnické osobě,
        veškerá získaná data přejdou do užívání novému vlastníkovi nebo nájemci za stejných podmínek, přičemž je nový
        vlastník vázán dodržováním prohlášení o ochraně osobních údajů.</p>
</i>
