<h1><%= t("page.title.sprints.edit") %></h1>

<%= render 'form' %>

<section class="actions">
	<%= link_to t("page.navig.sprints.back"), project_sprints_path(@sprint.project_id) %> |
	<%= link_to t("app.helpers.show"), project_sprint_path(@sprint.project_id, @sprint.id) %>
</section>