<h1><%= t("page.title.projects.edit") %></h1>

<%= render 'form' %>

<section class="actions">
	<%= link_to t("page.navig.projects.back"), projects_path(@project.id) %> |
	<%= link_to t("app.helpers.show"), project_path(@project.id) %>
</section>