// Place all the styles related to the Tasks controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
@mixin efforts_list {
	table.efforts{
		width: 100%;
		margin-bottom: 1em;
		tbody{
			tr {
				td {
					vertical-align: top;
					.progress {
						width: 300px;
						position: relative;
						top: 2px;
					}
					.description {
						font-size: smaller;
					}
				}
				td.headway {
					width: 34%;
					color: gray;
				}
				td.time {
					width: 18%;
					font-size: xx-small;
				}
				td.name {
					width: 28%;
					> .path {
						font-size: smaller;
					}
                }
				td.description {
				}
				td.user {
					width: 10%;
				}
			}
		}
	}
}

body > div.main.tasks.show > article {
	&.idea {
		h1 {
			color: #d2d2ff;
		}
	}
	&.bug {
		h1 {
			color: #ffcccc;
		}
	}
	.jumps {
		float: right;
		a {
		}
	}
	h3 {
		color: lightgray;
	}
	section.attributes {
		word-spacing: -1em;
		div.content, aside {
			display: inline-block;
			word-spacing: normal;
			vertical-align: top;
		}
		div.content {
			width: 70%;
			padding-right: 1%;
			h2{
				margin: 0 0 1ex 0;
				color: black;
				.user {
					color: #E1E1E1;
					font-size: smaller;
				}
				.sprint {
					color: gray;
					font-size: smaller;
					text-transform: lowercase;
				}
				.clientely_type {
					color: white;
					font-size: xx-small;
					text-transform: lowercase;
					padding: 0 1ex 0 1ex;
					&.moreover {
						background-color: #7b1212;
					}
					&.none {
						background-color: #ffea02;
						color: black;
					}
					&.order{
						background-color: #008000;
					}
					&.adaptation{
						background-color: #005900;
					}
				}
			}
			div.description {
				color: gray;
			}
		}
		aside {
			width: 29%;
			h3{
				margin: 0 0 1ex 0;
			}
			.assigned_user {
				.value {
					font-weight:bold;
				}
			}
			.headway {
				word-spacing: -1em;
				.label, .progress {
					display: inline-block;
					word-spacing: normal;
				}
				.label {
					width: 29%;
				}
				.progress {
					width: 70%;
				}
			}
			
			.state.new {
				background-color: #e6ffe6;
				color: green;
			}
			.state.inprogress {
				background-color: #f2f2ff;
				color: blue;
			}
			.state.completed {
				background-color: #ffffcc;
				color: #999900;
			}
			.state.bug {
				background-color: #ffcccc;
				color: red;
			}
			.state.approved {
				background-color: inherit;
				text-decoration: line-through;
			}
			.duration {
				margin-top: 1em;
				color: gray;
			}
			.priority{
				&.low {
					background-color: #f2f2ff;
					color: gray;
				}
				&.medium {
				
				}
				&.high {
					background-color: orange;
				}
				&.urgent {
					background-color: red;
				}
			}
		}
	}
	
	section.notes {
		figure.note {
			$headcolor: gray;
			margin: 1ex 0 1ex 0;
			padding: 1ex;
			background-color: #f3f3f3;
			>.time {
				color: $headcolor;
			}
			>.user {
				color: $headcolor;
			}
			
			>.content {
				font-size: smaller;
				background-color: white;
				>p {
					margin: 0 0 1em 0;
					font-size: inherit;
					padding: 1ex;
				}
				
			}
		}
	}
	
	@include efforts_list;
}

@mixin clientelies {
	section.attributes {
		word-spacing: -1em;
		div.content, aside {
			display: inline-block;
			word-spacing: normal;
			vertical-align: top;
		}
		div.content {
			width: 70%;
			padding-right: 1%;
			h2{
				margin: 0 0 1ex 0;
				color: black;
				.user {
					color: #E1E1E1;
					font-size: smaller;
				}
				.sprint {
					color: gray;
					font-size: smaller;
					text-transform: lowercase;
				}
			}
			div.description {
				color: gray;
			}
		}
		aside {
			width: 29%;
			h3{
				margin: 0 0 1ex 0;
			}
			.headway {
				word-spacing: -1em;
				.label, .progress {
					display: inline-block;
					word-spacing: normal;
				}
				.label {
					width: 29%;
				}
				.progress {
					width: 70%;
				}
			}
			
			.state.new {
				background-color: #e6ffe6;
				color: green;
			}
			.state.inprogress {
				background-color: #f2f2ff;
				color: blue;
			}
			.state.completed {
				background-color: #ffffcc;
				color: #999900;
			}
			.state.bug {
				background-color: #ffcccc;
				color: red;
			}
			.state.approved {
				background-color: inherit;
				text-decoration: line-through;
			}
			.duration {
				margin-top: 1em;
				color: gray;
			}
		}
	}	
}


body > div.main.tasks.younger > article {
	@include clientelies;
}

body > div.main.tasks.moreover > article {
	@include clientelies;
}

body > div.main.tasks.edit {
	form {
		.field {
			label {
				display: inline-block;
				width: 12em;
			}
		}
	}
}