<footer>
	<nav>
		<ul>
			<li>VyPro © 2011 - www.vypro.cz</li>
			<li><%= t("page.navig.designby") %> <%= mail_to 'chmel@jchsoft.cz', 'fesoj' %></li>
			<li><%= t("page.navig.codedby") %> <%= link_to 'Jchsoft.cz', 'http://www.jchsoft.cz/' %></li>
		</ul>
	</nav>
</footer>